<section id="inicio" class="full-screen">
    <div class="hero-overlay"></div>
   
     <h1 class="hero-title">
         Segmentación de <span class="highlight">Riesgo</span> <br>
         <span class="highlight">Vial</span>  en Bogotá
     </h1>
        <p>
            El clustering o agrupamiento permite identificar patrones de seguridad vial. Analizamos la <strong>Bitácora de Incidentes 2025</strong> para mejorar la movilidad.
        </p>
        <a href="#descripcion" class="btn-empecemos">Empecemos</a>
    </div>
</section>